* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0, 0.5);
    border-bottom: 3px solid transparent;
    color: white;
}

#workspaces button {
    padding: 0 5px;
    margin: 0 3px;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: rgba(100, 114, 125, 0.2);
    border-bottom: 3px solid @color15;
}

#mode {
    background: transparent;
    border-bottom: 3px solid @color15;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #temperature, #backlight, #idle_inhibitor, #custom-sl, #custom-spotify {
    padding: 0 6px;
    margin: 0 5px;
}
